.whole{
    margin-left: 200px;
    margin-top:280px ;
}
.tb1{
    margin-left: 200px;
    margin-top:280px ;
    color: white;
}
.tb2{
    margin-left: 200px;
    margin-top:30px ;
    color: white;
}
.tb3{
    margin-left: 200px;
    margin-top:30px ;
    color: white;
}
.tb4{
    margin-left: 750px;
    margin-top:-250px ;
    color: white;
}
.tb5{
    margin-left: 750px;
    margin-top:30px ;
    color: white;
}
.button1{
    margin-left: 162px;
    margin-top:-168px ;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.button2{
    margin-left: 135px;
    margin-top:75px ;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.button3{
    margin-left: 155px;
    margin-top:75px ;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.button4{
    margin-left: 450px;
    margin-top:-205px ;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.button5{
    margin-left: 447px;
    margin-top:75px ;
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.button6{
    margin-left:803px;
    margin-top:80px ;
    
}
.button7{
    margin-left: 960px;
    margin-top:80px ;
    font-size: 20px;
    
}
.chooseimage{
    margin-left: 1300px;
    margin-top:80px ;
    font-size: 20px;
}
.avatar{
     margin-left: 200px;
    margin-top:280px ;

}