.tb1{
	margin-left: 100px;
	margin-top: -40px;
}
.code{
	margin-left: 300px;
	margin-top: -40;
}
.tb2{
	margin-left: 395px;
	margin-top: -40px;
}
.contact1{
	margin-left: 590px;
	margin-top: -40px;
}
.tb3{
	margin-left: 690px;
	margin-top: -40px;
}
.contact2{
	margin-left: 890px;
	margin-top: -40px;
}
.tb4{
	margin-left: 1080px;
	margin-top: -40px;
}
.button1{
	margin-left: 1280px;
	margin-top: -21px;
}
.text1{
	margin-left: 120px;
}
.text2{
	margin-left: 440px;
	margin-top: -41px;
}
.text3{
	margin-left: 770px;
	margin-top: -41px;
}
.text4{
	margin-left: 1130px;
	margin-top: -41px;
}
.button3{
margin-left: 1150px;
}