.whole{
	position: absolute;
	top:50%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1.25);
	width: 900px;
	height: 320px;
	padding: 20px 30px;
	background:#fff;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	z-index: 1;
	
	


}
.tb1{
	margin-left: 100px;
	margin-top: -40px;
}
.code{
	margin-left: 300px;
	margin-top: -40;
}
.tb2{
	margin-left: 395px;
	margin-top: -40px;
}
.contact1{
	margin-left: 590px;
	margin-top: -40px;
}
.tb3{
	margin-left: 690px;
	margin-top: -40px;
}
.contact2{
	margin-left: 890px;
	margin-top: -40px;
}
.tb4{
	margin-left: 1080px;
	margin-top: -40px;
}
.button1{
	margin-left: 1280px;
	margin-top: -21px;
}
.text1{
	margin-left: 120px;
}
.text2{
	margin-left: 440px;
	margin-top: -41px;
}
.text3{
	margin-left: 770px;
	margin-top: -41px;
}
.text4{
	margin-left: 1130px;
	margin-top: -41px;
}
.cancelbtn{
margin-left: 770px;
margin-top: 105px;
}
.name{
    margin-left: 10px;
    margin-top:30px ;
}
.code{
    margin-left: 410px;
    margin-top: -62px;
}
.section{
	margin-left: 210px;
    margin-top: -62px;
}
.day{
    margin-left: 615px;
    margin-top: -65px;
}
.time{
    margin-left: 720px;
    margin-top: -242px;

}
.addbtn{
    margin-left: 700px;
    margin-top: -30px;
}
.studlistbtn{
    margin-left: 20px;
    margin-top: -34px;
}
.closebtn{
	position: absolute;
	margin-left: 800px;
	margin-top: -30px;
	background: #888;
	text-align: center;
	border-radius: 15px;
	width: 28px;
	height: 28px;
	cursor: pointer;
}
.btn{

}
.whole{
	animation: transitionIn .5s ease;
}
@keyframes 	transitionIn	{
	from{
		opacity: 0;
		
	}
	to{
		opacity:1;
		
}



