.whole{
	position: absolute;
	top:50%;
	left: 50%;
	opacity: 1;
	transform: translate(-50%, -50%) scale(1.25);
	width: 800px;
	height: 500px;
	background:#fff;
	padding: 20px 30px;
	box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	z-index: 1;
	
	}
#textb1{
	margin-top: 10px;
}
#textb2{
	margin-top: 10px;
}
#textb3{
	margin-top: 10px;
}
#textb4{
	margin-top: 10px;
}
#btn2{
	margin-top: 5px;
}
#row {
	

}
#add{
	margin-top: 10px;
}
::-webkit-input-placeholder{
	font-size: 12px;

}
.whole{
	animation: transitionIn .5s ease;
}
@keyframes 	transitionIn	{
	from{
		opacity: 0;
		
	}
	to{
		opacity:1;
		
}