0

/*IMPORTED FONTS*/
@import url('https://fonts.googlepis/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet');

body{

    margin: 0;
    padding: 0;
    background-image: url('blurbg.png');
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fill;
    overflow: hidden;
   
 
}


*{
    box-sizing: border-box;
}

header .nav-item:last-child{
    padding-right: 10.5em;
}

header .nav-item{
    padding:0.9em;
}

header .navbar-brand{
    padding-left: 8rem;
}

header .nav-link:hover {
    color:#04001E;}

    

.inner-containers {
    margin-left: 250px;
    display: grid;
    grid-gap: 3rem;
    padding: 0 3rem;
    align-items: center;
    padding-right: 10.5em
}

.index {
    text-decoration: none;
    color: white;

}

.index:hover{ 
text-decoration: none;
    color: white; }


/* inner container 1 */

.inner-container-1 {
    margin-top: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
}

.card-1 {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, .1);
    cursor: pointer;
    height: 100px;
}

.card-1:hover {
    box-shadow: 0px 0px 20px black;
    
}

.card-1-imgBx {
    position: relative;
    float: right;
    height: 50px;
    width: 50px;

}

.card-1 h2 {
    position: absolute;
    bottom: 2.5rem;
    font-size: 2rem;
    color: #949da7;
}

.card-1 h4 {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #949da7;
}





.nav-link{
    color: white;
}

.navbar{
    background-color: goldenrod;
    background-size: cover;
    height: 120;
}

.sidebar {
    position: fixed;
    left: 0;
    width: 70px;
    height: 100vh;
    z-index: 5;

    

    background-color: #194F90;
    border-top-right-radius:10px ;
    border-bottom-right-radius: 10px;

    overflow: hidden;
    white-space: nowrap;
  
    transition: .3s ease;

}
.sidebar:hover{
    width: 270px;

}

.sidebar .sidebar-item{
    padding: 20px;
    color: white;
}
.sidebar .sidebar-item:hover{
    background-color: #04001E;
    cursor: pointer;
    padding-left: 10px;
}
.sidebar .sidebar-item {
    font-size: 25px;
}
.card{ 
    margin-left: 770px;
    height: 500px;
}
.cardcolor{
    background-color: blue;
    size: 50px;
}
.tablebody{
    margin-left: -100px ;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: .5em;
}
@media (max-width:575px) {
    .display-4 {
        font-size: 1.5rem;
    }
    .day h5 {
        background-color: #f8f9fa;
        padding: 3px 5px 5px;
        margin: -8px -8px 8px -8px;
    }
    .date {
        padding-left: 4px;
    }
}

@media (min-width: 576px) {
    .day {
        height: 14.2857vw;
    }
}